{% extends "base.html" %}

{% block title %}Lista urlopów{% endblock %}

{% block content %}
    <h1 class="mb-4">Lista urlopów</h1>

    <table class="table table-striped table-bordered shadow-sm bg-white">
        <thead class="table-primary">
            <tr>
                <th>Imię</th>
                <th>Data od</th>
                <th>Data do</th>
                <th>Komentarz</th>
                {% if request.session.get("role") == "admin" %}
                <th style="width: 150px">Akcje</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for leave in leaves %}
            <tr>
                <td>{{ leave.owner.name }}</td>
                <td>{{ leave.date_from }}</td>
                <td>{{ leave.date_to }}</td>
                <td>{{ leave.comment }}</td>
                
            {% if request.session.get("role") == "admin" %}
                <td>
                    <a href="/leaves/edit/{{ leave.id }}" class="btn btn-sm btn-warning">Edytuj</a>
                    <form method="post" action="/leaves/delete/{{ leave.id }}" style="display:inline;"
                        onsubmit="return confirm('Czy na pewno chcesz usunąć ten urlop?');">
                        <button type="submit" class="btn btn-sm btn-danger">Usuń</button>
                    </form>
                </td>
            {% endif %}
 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/leaves/form" class="btn btn-primary mt-3">Dodaj nowy urlop</a>
{% endblock %}
