{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <h2 class="h5 mb-4 text-center">Zaloguj się</h2>
        {% if error %}
        <div class="alert alert-danger mt-3 text-center" role="alert">
            {{ error }}
        </div>
        {% endif %}

    <form method="post" action="/login" class="p-4">
        <div class="mb-3">
            <label for="username" class="form-label">Nazwa użytkownika</label>
            <select class="form-select" id="name" name="name" required>
            <option value="">Wybierz z listy</option>
            {% for user in users %}
                <option value="{{ user.name }}">{{ user.name }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Hasło</label>
            <input type="password" class="form-control" id="password" name="password" required />
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
    </form>
{% endblock %}